{% extends 'layout.twig' %}

{% block content %}
    <p>This is a Boilerplate for the Slim3 PHP micro framework !</p>

    {% if auth.check %}
        <p>Welcome, {{ auth.user.username }}! You can <a href="{{ path_for('user_signout') }}">sign out</a>.</p>
    {% else %}
        You can <a href="{{ path_for('user_signup') }}">sign up</a> or <a href="{{ path_for('user_signin') }}">sign in</a>.
    {% endif %}
{% endblock %}